.about {
    &__wrapper {
        max-width: 960px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding-top: 200px;
        margin-bottom: 200px;
        @media only screen and (max-width: 1200px) {
            padding-left: 20px;
            padding-right: 20px;
            flex-direction: column;
        }
    }
    &__article {
        order: 2;
        margin-left: 100px;
        @media only screen and (max-width: 720px) {
            margin-left: 30%;
        }
    }
    &-text {
        order: 2;
    }
    &-img {
        order: 1;
    }
    &__img {
        max-width: 590px;
        @media only screen and (max-width: 720px) {
            max-width: 100%;
        }
    }
}







