.arror-small {
	display: inline-block;
	position: relative;
	top: 2px;
	left: 3px;
	width: 3em;
	height: 1em;
}

.arror-small::before, .arror-small::after {
	content: "";
	position: absolute;
	border-width: .1em;
	border-color: #fff;
}

.arror-small::after {
	width: .3em;
	height: .3em;
	top: .36em;
	left: 2em;
	border-top-style: solid;
	border-right-style: solid;
	transform: rotate(45deg);
}

.arror-small::before {
	top: .5em;
	width: 2.4em;
	border-top-style: solid;
}
