article:nth-child(even)::before {
	right: 25px;
}

article:nth-child(even)::after {
	right: 18px;
}

article .arror-small::before, .arror-small::after {
	border-color: #000;
}

.row-end {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: relative;
	padding-top: 200px;
	margin-bottom: 100px;
}


.row-rev {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	align-items: center;
	position: relative;
	padding-top: 200px;
	margin-bottom: 100px;
}

.row-start {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	margin: 150px 0;
}

article .h2 {
	font-size: 3rem;
	text-transform: uppercase;
	position: relative;
	letter-spacing: 0.1rem;
}

article .h2::before {
	outline: 1px solid #000;
	position: absolute;
	top: -45px;
	content: "";
	height: 152px;
	transform: rotate(90deg);
}

.row-rev .h2::before {
	right: -100px;
}

.row-end .h2::before, .row-start .h2::before {
	left: -100px;
}

.content {
	line-height: 1.5rem;
	position: relative;
}

.row-rev .content {
	text-align: right;
}

.content::before {
	outline: 3px solid #bea67c;
	position: absolute;
	content: "";
	height: 45px;
	transform: rotate(90deg);
	top: -10px;
}

.row-rev .content::before{
	right: -49px;
}

.row-end .content::before{
	left: -49px;
}

.learn-more-btn {
	text-transform: uppercase;
	font-size: 0.875rem;
	letter-spacing: 0.2rem;
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.learn-more-btn::after {
	outline: 2px solid #bea67c;
	position: absolute;
	top: 8px;
	left: 23px;
	content: "";
	height: 44px;
	transform: rotate(90deg);	
}

.img {
	overflow: hidden;
	width: 615px;
	height: 400px;
	background-color: #000;
}

.row-rev .img::after, .row-end .img::after {
	outline: 3px solid #bea67c;
	position: absolute;
	content: "";	
	top: 20px;
	height: 45px;
}

.row-rev .img::after{
	left: 0;
}

.row-end .img::after {
	right: 0;
}

.row-end, .row-start .content::before {
	left: -49px;	
}

.steps::before {
	counter-increment: blocks;
	content: "0" counter(blocks);
	font-size: 2.25rem;
	position: absolute;
	letter-spacing: 0.2rem;
	bottom: -10px;
}

.steps:nth-child(odd)::before {
	left: 25px;
}

.steps::after {
	content: ".";
	font-size: 2.25rem;
	position: absolute;
	color: #bea67c;
	bottom: -10px;
}

.steps:nth-child(odd)::after {
	left: 65px;
}