footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #434343;
	background-image: url(../img/wood/wood_2.png);
	padding: 20px 0;
	background-position: 0% 50%;
	position: relative;
	z-index: 1;
	&::after {
		background-color: #000;
		z-index: -1;
		opacity: 0.9;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	@media only screen and (max-width: 720px) {
		flex-direction: column;
	}
	* {
		@media only screen and (max-width: 720px) {
			margin: 10px 0;
		}
	}
	.copyright {
		text-transform: uppercase;
		font-weight: 400;
	}
	.logo--link {
		color: #fff;
	}
	.dev {
		font-weight: 400; 
		&--link {
			color: #7d7d7d;
			text-decoration: none;
		}
	}
}




