.furniture {
	max-width: 350px;
	margin-top: -30px;
	align-self: center;
	padding: 0 40px;
	position: relative;
}

.furniture::after {
	position: absolute;
	content: "furniture";
	text-transform: uppercase;
	color: #fff;
	top: 40px;
	left: 680px;
	font-size: 10.5rem;
	z-index: 1;
	opacity: 0.2;
	letter-spacing: 0.7rem;
}

.furniture-img {
	width: 100%;
	height: 400px;
	background-image: url(../img/wood/furniture.jpg);
	background-size: 145% 115%;
	background-position: 100% 10%;
	opacity: 0.9;
	position: relative;
}

.furniture-img::after {
	content: "";
	background: #000 url(../img/wood/furniture.jpg);
	background-size: 145% 115%;
	background-position: 100% 10%;
	height: 400px;
	width: 615px;
	position: absolute;
	top: 0;
	left: 0;
	filter: grayscale(100%); 
	opacity: 0.35;
	z-index: 100;
}