.menu {
    display: inline-block;
    @media only screen and (max-width: 1000px) {
        display: block;
    }
}

.toggle {
	&-checkbox {
		visibility: hidden;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 0;
	    height: 0;
	    z-index: -100;
	    @media only screen and (max-width: 1000px) {
			&:checked {
				& ~ .toggle-button {
					span {
						z-index: 1;
						background-color: transparent;
						transition: background 0.3s;
						&:before,
						&:after {
							visibility: visible;
							top: 0;
							bottom: auto;
							transform: rotate(45deg);
							transition: background 0.3s, transform 0.3s linear 0.3s, top 0.3s, bottom 0.3s;
						}
						&:after {
							transform: rotate(-45deg);
						}
					}
				}
				& ~ .menu {
					display: block;
					width: 100%;
				}
			}
	    }
	}
	&-button {
		display: none;
		width: 40px;
		height: 40px;
		position: absolute;
		top: 15px;
		left: 15px;
		cursor: pointer;
		&:hover {
			span, 
			span:before, 
			span:after {
				background-color: #a9946e;
			}
		}
		@media only screen and (max-width: 1000px) {
			display: block;
		}
		span {
			width: 30px;
			height: 2px;
			background-color: #818181;
			display: block;
			position: absolute;
			top: 19px;
			left: 5px;
			transition: background 0.3s;
			&:before, 
			&:after {
				width: 100%;
				height: 2px;
				display: block;
				top: -8px;
				background-color: #818181;
				transition: background 0.3s, transform 0.3s, top 0.3s linear 0.3s, bottom 0.3s linear 0.3s;
			}
			&:after {
				top: 8px;
			}
		}
	}
}


.menu {
	display: inline-block;
	vertical-align: baseline;
	margin: 0;
	font-size: 0;
	box-sizing: border-box;
	@media only screen and (max-width: 1000px) {
		display: none;
		padding: 10px 0;
		margin-top: 30px;
		position: absolute;
		max-width: 100%;
		background-color: #000;
		top: 40px;
		left: 0;
		z-index: 999;
	}
	&-item {
		display: inline-block;
		position: relative;
		margin-right: 35px;
		font-size: 2rem;
		@media only screen and (max-width: 1000px) {
			width: 100%;
			padding: 20px 40px;
			margin-right: 0;
			border-top: 1px solid #212121;
		}
		&-lang {
			right: -60px;
			@media only screen and (max-width: 1000px) {
				right: 0;
			}
		}
		.menu__link {
			padding: 7px 12px;
			text-decoration: none;
			color: #818181;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 1pt;
			line-height: 2;
			font-size: 15px;
			transition: color 0.3s, border 0.3s, background 0.3s;
			position: relative;
			display: inline-block;
			width: 100%;
			box-sizing: border-box;
			@media only screen and (max-width: 1000px) {
				font-size: 1.2rem;
				padding: 10px 15px;
				text-align: center;
			}
			&:hover {
				color: #a9946e;
				
			}
		}	
		.active {
			color: #bea67c;
		} 
	}
}
