#menu-checkbox {
  display: none;
}

.menu-block {
	z-index: 1000;
}

.menu-wrapper {
	display: none;
	position: absolute;
	top: 15px;
	left: 30px;
	z-index: 1000;
	.menu-block {
		position: relative;
		width: 1em;
		height: 1em;
		padding: .4em 0;
		background-color: #bea67c;
		background-clip: content-box;
		cursor: pointer;
		transition: 1s;
		&::before {
			top: 0;
		}
		&::after {
			top: .8em;
		}
		&::before, &::after {
			width: 100%;
			height: .2em;
			background-color: #bea67c;
		}
	}

	.main-menu {
		position: absolute;
		top: 40px;
		padding: 20px 30px 30px 50px;
		left: -240px;
		width: 200px;
		height: 200px;
		background-color: #000;
		z-index: 1;
		transition: 1s;
		& li {
			padding: 15px;
			list-style: none;
			& a {
				color: #818181;
				text-decoration: none;
				transition: 1s;
				text-transform: uppercase;
				.active {
					color: #bea67c;
				}
				&:hover {
					color: #bea67c;
				}
			}
		}
	}

}

@media only screen and (max-width: 1000px) {
	.menu-wrapper {
		display: block;
	}
}

#menu-checkbox:checked + nav[role="navigation"] .main-menu {
	left: -50px;
}

#menu-checkbox:checked + nav[role="navigation"] .main-menu_opened {
	  	background-color: transparent;  
	  }
#menu-checkbox:checked + nav[role="navigation"] .main-menu_opened::before {
	  		transform: rotate(-45deg) scaleX(1.2);
	  	}
#menu-checkbox:checked + nav[role="navigation"] .main-menu_opened::after {
	  		transform: rotate(45deg) scaleX(1.2);
	  	}





