.watch-video {
	border: 1px solid #000;
	background-color: #000;
	position: relative;
	z-index: -2;
}

.watch-video::before {
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	width: 100%;
	height: 100%;
	background-image: url(../img/wood/wood_3.jpg);
	background-size: cover;
	background-position: 50% 80%;
	z-index: -1;
	opacity: 0.1;
}

.watch-video__item  {
	border: 2px solid #bea67c;
	padding-right: 30px;
	width: 90%;
	height: 620px;
	margin: 80px auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.content-video {
	max-width: 550px;
	margin-left: 50%;
	position: relative;
}

.watch-video__item .h2 {
	font-size: 3rem;
	text-transform: uppercase;
	position: relative;
	letter-spacing: 0.1rem;
	color: #bea67c;
}

.watch-video__item .h2::before {
	outline: 1px solid #fff;
	position: absolute;
	top: -45px;
	content: "";
	height: 152px;
	transform: rotate(90deg);
	left: -100px;
}

.watch-video__item .h2::after {
	outline: 1px solid #fff;
	position: absolute;
	top: 55px;
	content: "";
	height: 152px;
	right: -15%;
}

.content-video p {
	position: relative;
	color: #fff;
	max-width: 395px;
	line-height: 1.5rem;
}

.content-video p::before {
	outline: 3px solid #bea67c;
	position: absolute;
	content: "";
	height: 45px;
	transform: rotate(90deg);
	top: -10px;
	left: -49px;
}

.content-video::before {
	position: absolute;
	content: "";
	width: 600px;
	height: 600px;
	top: -205px;
	right: -530px;
	border: 60px solid #fff;
	border-radius: 50% 50%;
	opacity: 0.04;
}

.content-video::after {
	position: absolute;
	top: 40px;
	right: -300px;
	content: "";
	width: 0;
	height: 0;
	opacity: 0.04;
	border-style: solid;
	border-width: 100px 0 100px 200px;
	border-color: transparent transparent transparent #fff;
}

.btn__watch-video {
	padding-left: 82px;
	padding-right: 58px;
}

.btn__watch-video::before {
	position: absolute;
	content: "";
	width: 18px;
	height: 18px;
	top: 12px;
	left: 46px;
	border: 2px solid #fff;
	border-radius: 50% 50%;
}

.btn__watch-video::after {
	position: absolute;
	top: 20px;
	left: 55px;
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 3px 0 3px 6px;
	border-color: transparent transparent transparent #fff;	
}

@media only screen and (max-width: 720px) {
	.content-video {
		margin-left: 0;
		padding: 30px;
		padding-left: 35%;
	}

	.watch-video__item .h2::after {
		outline: none;
	}
}

@media only screen and (max-width: 480px) {
	.content-video {
		padding: 40px;
	}

	.watch-video__item .h2::before {
		outline: none;
	}

	.content-video p::before {
		outline: none;
	}
}