doctype
html
	head
		meta(charset="utf-8")
		title Wooder
		link(href='assets/css/main.css', rel='stylesheet')
	body
		header
			div.header-wrapper
				div.header-bg-right
				div.header-bg-left
				div.section-number
				div.header
					div.header-top
						div.logo 
							a(href="#") Wooder
						ul.nav
							li.nav-item
								a.nav-link(href="#home") Home
							li.nav-item
								a.nav-link(href="#products") Products
							li.nav-item
								a.nav-link(href="#about") About
						
						div.info
						div.lang en
						
					div.promo
						p Wooder
						a.learn-more(href="#") Learn more
					div.scroll
						div.mouse
						div.arrow

					