doctype
html
	head
		meta(charset="utf-8")
		title Wooder
		link(href='assets/css/main.css', rel='stylesheet')
	body
		header
			div.header-wrapper
				div.header-bg-right
				div.header-bg-left
				div.toggler.menu-toggler
				div.section-number
				div.header
					div.header-top
						div.logo.logo__header 
							a(href="#") Wooder

						nav
							ul.nav
								li.nav-item
									a.nav-link(href="#home") Home
								li.nav-item
									a.nav-link(href="#products") Products
								li.nav-item
									a.nav-link(href="#about") About
						
					div.info
					div.lang en
						
				div.promo
					p Wooder
					a.btn-white(href="#") Learn more
							div.arrow-small.arrow-small__header
				div.scroll
					div.mouse
					div.arrow

		main
			div.wrapper
				article.row-end.steps
					section.furniture
						h2.h2 Furniture
						p.content 
							| Wooder utilizes materials otherwise left behind, rendered useless in their original intent. By creating new pieces made of reclaimed barnwood
						a.learn-more-btn Learn more 
							div.arrow-small
					section.img
						figure.furniture-img
				article.row-rev.steps
					section.decor
						h2.h2 Decor
						p.content 
							| We make all types of wooden decor as per design given by Architect,Interior designer, contractor which is suitable
						a.learn-more-btn Learn more 
							div.arrow-small
					section.img
						figure.decor-img
				div.video-set
					div.wrapper
						div.video-set__header
							h2.h2 Wooder &#8212; is quality     
							p.video-set__content
								| We create unique design objects made of rare wood, specially under the order. Look at the short video about our work.
						div.video-set__items
							div.video-set__item
								div.round.video-1 
								p Innovative design
							div.video-set__item
								div.round.video-2 
								p High-level skills
							div.video-set__item
								div.round.video-3 
								p Quality products

			div.watch-video
				div.watch-video__item
					div.content-video
						h2.h2 We do the design of any complexity
						p.
							This is a team of professionals that make the furniture and wood décor high standard. Creating modern designs. Adhering to the global quality standards. And we are doing work with love.
						a.btn-white.btn__watch-video(href="#") Watch video
			div.wrapper
				article.row-start
					section.img.shadow
						figure.about-us-img
					section.about-us
						h2.h2 About us
						p.content 
							| We are a team of professionals in the wood processing and the creation of wooden furniture of the highest class
						a.learn-more-btn Learn more 
							div.arrow-small

		footer.footer
			div.footer__item
				span &#169; 2016 Wooder
				div.logo
					a(href="#") Wooder
				div.dev Designed by 
					a(href="#") Viacheslav Olianishyn
				
						

