@import 'fonts.css';
@import 'partials/vendors/normalize.css';
@import 'partials/vendors/typography.css';
@import 'partials/vendors/magnific-popup.css';
@import 'partials/sections/menu.css';
@import 'partials/sections/header.css';
@import 'partials/sections/services.css';
@import 'partials/sections/video.css';
@import 'partials/sections/promo.css';
@import 'partials/sections/about.css';
@import 'partials/sections/footer.css';



html {
	font-family: 'Proxima Nova', Arial, sans-serif;
	font-weight: bold;
	font-size: 16px;
	overflow-x: hidden;
	background-color: #ffffff;
}

a:focus,
button:focus {
	outline: none;
}

body {
	margin: 0;
	padding: 0;
	counter-reset: blocks;
}

figure {
	margin: 0;
}

ul, li {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

.active {
	opacity: 1;
	color: #bea67c;
}